@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html,body,main {
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    background-image: radial-gradient(white 35%, rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.5));
}

section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 475px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px 8px;

}

#lampada {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-57%);
    background-size: contain;
    width: 250px;
    height: 400px;
}

#ligar, #desligar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 30px;
    display: grid;
    place-items: center center;
    background-color: grey;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.194);
    border-radius: 5px 5px;
}

#ligar {
    transform: translate(-109%,650%);
    background-color: rgba(0, 128, 0, 0.174);
}

#desligar {
    transform: translate(11%,650%);
    background-color: rgba(255, 0, 0, 0.146);
}

#ligar:hover, #desligar:hover {
    transition: background-color 1.5s;
}

#ligar:hover {
    background-color: rgba(4, 103, 4, 0.65);
}

#desligar:hover{
    background-color: rgba(216, 59, 38, 0.65);
}

