@charset "UTF-8";

/************ Botoes Calculadora **************/

.botao {
    position: absolute;
    width: 69px;
    height: 44px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0);
}

#botaoa1 { transform: translate(-228%,-219%);}
#botaoa2 { transform: translate(-104%,-93%); width:149px;}
#botaoa3 { transform: translate(-228%, 37%);}
#botaoa4 { transform: translate(-228%,167%);}
#botaoa5 { transform: translate(-228%,297%);}
#botaoa6 { transform: translate(-104%,427%); width: 149px;}

#botaob1 { transform: translate(-110%,-219%);}
#botaob3 { transform: translate(-110%,37%);}
#botaob4 { transform: translate(-110%,167%);}
#botaob5 { transform: translate(-110%,297%);}

#botaoc1 { transform: translate(9%,-219%);}
#botaoc2 { transform: translate(9%,-93%);}
#botaoc3 { transform: translate(9%,37%);}
#botaoc4 { transform: translate(9%,167%);}
#botaoc5 { transform: translate(9%,297%);}
#botaoc6 { transform: translate(9%,427%);}

#botaod1 { transform: translate(128%,-219%);}
#botaod2 { transform: translate(128%,-92%);}
#botaod3 { transform: translate(128%,37%);}
#botaod4 { transform: translate(128%,167%);}
#botaod5 { transform: translate(128%,125%); height: 104px;}
