@charset "UTF-8";

:root {
    --cor1: rgb(64, 169, 217);
    --cor2: rgb(39, 99, 127);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 1.3em;
    line-height: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: var(--cor1);
}

h1 {
    text-align: center;
}

h2 {
    font-size: 1.2em;
}

.big-box-imc {
    display: flex;
    justify-content: space-evenly;
}

.box-imc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-imc p {
    margin: 0px;
    padding: 5px;
}

.container {
    margin: 50px auto;
    padding: 20px;
    max-width: 640px;
    border-radius: 10px;
    background: #fff;
}

form input, form lavel, form button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

form input {
    padding: 0px 20px;
    height: 50px;
    font-size: 24px;
}

form input:focus {
    outline: 1px solid var(--cor1);
}

form button {
    margin-top: 30px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background: var(--cor1);
    color: #fff;
}

form button:hover {
    background: var(--cor2);
}


